.feature-list-inner{
	position: relative;
	z-index: 1;
	display: flex;
	flex: 1;
	align-items: center;
	border-top: 1px solid #57f22d;
	width: inherit;
}
.feature-item{
	width: 93.5px;
	height: inherit;
	position: relative;
	flex: 1;
}

.feature-item-link{
	width: 93.5px;
	height: 60px;
	line-height: 27px;
	display: block;
}

.feature-item-icon{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.post{
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yl/r/tBNvTseh5Yd.png');
	background-position: -21px -55px;
	background-size: 104px 108px;
}