.cover-photo{
	height: 180px;
}

.profile-photo-down{
	display: inline-block;
	position: relative;
	width: 120px;
	height: 60px;
}

.profile-inner{
	vertical-align: bottom;  /*수직정렬*/
}
.profile-frame{
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .125);
	display: block;
	background-size: auto;
	background-color: #fff;
	height: 116px;
	margin-top: -50%;
	padding: 2px;
}